.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }
*{
    margin: 0;
    padding: 0;
}
header {
    background-image: url(./images/desktop/image-hero.jpg);
    height: 70vh;
    padding: 30px;
    background-position: center;
    background-size: cover;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10vh;
}
header ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 10vh;
}
header a {
     text-decoration: none;
     color: white;
     display: block;
     align-items: center;
}
header p {
    border-radius: 2px;
    text-transform: uppercase;
    justify-content: center;
    color: white;
    font-size: 3em;
    width: 400px;
    border: 1px solid white;
    margin-top: 20vh;
    margin-left: 10vh;

}
main {
    background-color: white;
    height: 100px;
}
footer {
    background-color: black;
    height: 30px;
}