.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }
*{
    margin: 0;
    padding: 0;
}
header {
    background-image: url(./images/desktop/image-hero.jpg);
    height: 100px;
    padding: 200px;
}
header ul{

}
header a{
    
}
main {
    background-color: white;
    height: 100px;
}
footer {
    background-color: black;
    height: 30px;
}