.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }
*{
    margin: 0;
    padding: 0;
}
header {
    background-image: url(./images/desktop/image-hero.jpg);
    height: 30vh;
    padding: 150px;
    background-position: center;
    background-size: cover;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -20vh;
}
header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
header a {
     text-decoration: none;
     color: white;
     display: block;
     align-items: center;
}
box{
    border-radius: 10px white;
    text-transform: uppercase;
    border-color: white;
    justify-content: left;
    padding: 10px;
}
main {
    background-color: white;
    height: 100px;
}
footer {
    background-color: black;
    height: 30px;
}